<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.ieeecsvit.com.arcs19">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name="android.ieeecsvit.com.arcs19.Arcs19Application"
        android:allowBackup="true"
        android:icon="@drawable/arcs"
        android:label="@string/app_name"
        android:roundIcon="@drawable/arcs"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="android.ieeecsvit.com.arcs19.MainActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="android.ieeecsvit.com.arcs19.Login.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="android.ieeecsvit.com.arcs19.Forum.ForumActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name="android.ieeecsvit.com.arcs19.Profile.Profile"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>